#hs{
	height: 150px;
	background-color: #007d53;
	padding-left: 170px;
	padding-right: 170px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrapper {
	height: auto;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}

#navi {
	width: auto;
}


.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-default {
    background-color: #CC0000;
    border-color: transparent;
    border-radius: 10;
}



@media (max-width: 479px) {
	.container{
		width: auto;
	}
  #hs {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: none;

  }
  #fm img {
    display: none;
  }
  body {
    width: 100%;
    min-width: 100%;
    { padding-bottom: 70px; }
  }
  #navigation {
    display:none;
  }
}

